@import "./StyleAssets/Utilities";
@import "./StyleAssets/Fonts";
@import "./StyleAssets/Mobile";
@import "./StyleAssets/ColourPlate";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  font-size: 1rem;
  font-family: $-ff-PrimaryFont;
  background-color: $-clr-primaryBG;
  color: $-clr-primaryTEXT;

  overflow: auto;
}

.navigation {
  background-color: $-clr-primaryBG;
  z-index: 20;

  .nav_wrapper {
    padding: 0.5rem;
    justify-content: space-between;

    .logo {
      img {
        width: 90px;
      }
    }

    .center_navigation {
      li {
        margin: 0 2rem;
        a {
          font-weight: 600;
          color: $-clr-primaryTEXT;

          &:hover {
            color: #888;
          }
        }
      }
    }

    .right_navigation {
      li {
        margin: 0 1rem;

        a {
          div {
            position: relative;
            &::after {
              content: "2";
              position: absolute;

              width: 90%;
              height: 70%;

              top: -10px;
              right: -10px;

              text-align: center;

              background-color: red;

              border-radius: 100%;

              font-size: 0.8rem;
              color: white;
            }
          }

          img {
            position: relative;
            width: 23px;
          }

          span {
            font-size: 25px;
            color: $-clr-primaryTEXT;
          }
        }
      }
    }
  }
}

// Banner

.hero_banner {
  position: relative;

  width: 100%;
  height: 55vh;

  background: url("/Images/Banner-01@1X.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e3f5dd;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    bottom: -100px;

    background-color: #e3f5dd;
    clip-path: polygon(0 0, 100% 0, 100% 36%, 76% 19%, 51% 23%, 27% 44%, 0 38%);
  }

  .banner_text {
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      margin-left: 20rem;
      font-size: clamp(3rem, 4rem, 2rem);
      font-weight: 900;
      line-height: 1.2;
    }
  }
}

// page_address

.page_indicator {
  p {
    margin-top: 3.8rem;
    font-size: 0.7rem;
    color: gray;
  }

  z-index: 50;
}

// scroll

.vaidic_scroll {
  margin-top: 10rem;
  position: relative;

  .leaf_1 {
    position: absolute;
    top: -50px;
    left: 75px;
    img {
      width: 80px;
      transform: rotate(95deg);
    }
  }

  .leaf_2 {
    position: absolute;
    top: -80px;
    right: 300px;
    img {
      width: 60px;
      transform: rotate(210deg);
    }
  }

  .wapper_vadicScroll {
    position: relative;
    flex-direction: column;

    .hanuman_img {
      position: absolute;
      top: -100px;
      z-index: 10;
    }

    .fade_lotos {
      width: 100px;
      margin: 0 auto;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
      }
    }

    .scroll_text {
      position: absolute;
      top: 8rem;
      text-align: center;
      width: 800px;
    }
  }
}

.ourStory_section {
  margin-top: 5rem;
  position: relative;

  .leaf_3 {
    position: absolute;
    top: -50px;
    left: 400px;
    img {
      width: 75px;
      transform: rotate(15deg);
    }
  }

  .leaf_4 {
    position: absolute;
    top: 150px;
    right: 100px;
    img {
      width: 40px;
      transform: rotate(200deg);
    }
  }

  .ourStory_para {
    margin: 5rem 0;
    font-weight: 700;
    font-size: 1.2rem;
    word-wrap: break-word;
    color: #707070;
  }

  .img_boxes {
    margin: 2rem 0;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

    & > div {
      width: 570px;
      height: 321px;
    }

    .box-1 {
      background-image: url("/Images/person1.png");
      background-repeat: no-repeat;
    }
    .box-2 {
      background-image: url("/Images/person2.png");
      background-repeat: no-repeat;
    }
  }
}

//  Family section

.family_section {
  position: relative;

  .leaf_5 {
    position: absolute;
    top: 0px;
    right: 100px;
    img {
      width: 40px;
      transform: rotate(80deg);
    }
  }

  .leaf_6 {
    position: absolute;
    bottom: -50px;
    left: 500px;
    img {
      width: 40px;
      transform: rotate(190deg);
    }
  }

  margin: 8rem 0;

  background-image: url("/Images/familyLotas.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  .section_wrapper {
    justify-content: space-between;

    .section_text {
      width: 250px;

      h1 {
        font-weight: 900;
        font-size: 1.8rem;
      }

      p {
        font-weight: 500;

        color: #707070;
      }
    }

    .text-1 {
      margin: 2rem 0 0 0rem;
    }
    .text-2 {
      margin: 0 0rem 1rem -3rem;
    }
  }
}

// Our team

.ourTeam_section {
  position: relative;

  .leaf_7 {
    position: absolute;
    top: 220px;
    left: 150px;
    img {
      width: 60px;
      transform: rotate(80deg);
    }
  }

  position: relative;
  margin-top: 5rem;
  padding: 5rem 0;

  background-color: #e3f5dd;

  &::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100px;
    top: -18px;
    left: 0;
    background-image: url("/Images/Subtraction\ 1png.png");
    background-repeat: no-repeat;
  }

  .outTeam_wrapper {
    .box {
      padding: 1rem 5rem;

      span {
        background-image: url("/Images/lotas.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      .about_person {
        width: 600px;
        color: #707070;
        h2 {
          font-size: 1.3rem;
          margin: 0.5rem 0;
        }

        p {
          color: #707070;
          line-height: 1.3;
        }
      }
    }

    img {
      margin: 0 40px;
      width: 300px;
      height: 400px;
    }

    & > div {
      padding: 0 4rem;
      justify-content: center;
      gap: 50px;
    }
  }
}

@media screen and (max-width: 468px) {
  .navigation {
    .nav_wrapper {
      padding: 0.5rem;
      justify-content: space-between;

      .logo {
        img {
          width: 60px;
        }
      }

      .center_navigation {
        display: none;
      }
    }
  }

  .hero_banner {
    background: url("/Images/Banner-01@1X.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .banner_text {
      height: 50vh;
      text-align: center;

      h1 {
        margin-left: 0rem;
        font-weight: 700;
        line-height: 1.2;
      }
    }
  }

  .vaidic_scroll {
    margin-top: 6rem;

    .leaf_1 {
      position: absolute;
      top: -65px;
      left: 0;
      img {
        width: 40px;
        transform: rotate(95deg);
      }
    }

    .leaf_2 {
      position: absolute;
      top: -80px;
      right: 10px;
      img {
        width: 30px;
        transform: rotate(210deg);
      }
    }

    .wapper_vadicScroll {
      position: relative;
      flex-direction: column;

      .vaidic_scroll_img {
        width: 320px;
      }

      .hanuman_img {
        position: absolute;
        top: -60px;
        z-index: 10;
        width: 200px;
      }

      .fade_lotos {
        width: 100px;
        margin: 0 auto;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 200px;
        }
      }

      .scroll_text {
        position: absolute;
        top: 40px;
        text-align: center;
        font-size: 0.5rem;
        width: 200px;
      }
    }
  }

  .ourStory_section {
    margin-top: 5rem;
    position: relative;

    .leaf_3 {
      position: absolute;
      top: -20px;
      left: 10px;
      img {
        width: 40px;
        transform: rotate(15deg);
      }
    }

    .leaf_4 {
      position: absolute;
      top: 10px;
      right: 20px;
      img {
        width: 30px;
        transform: rotate(200deg);
      }
    }

    .ourStory_para {
      margin: 2rem 0;
      text-align: center;
    }
  }

  .family_section {
    .leaf_5 {
      position: absolute;
      top: 0px;
      right: 30px;
      img {
        width: 40px;
        transform: rotate(80deg);
      }
    }

    .leaf_6 {
      position: absolute;
      bottom: 0px;
      left: 40px;
      img {
        width: 40px;
        transform: rotate(190deg);
      }
    }

    margin: 8rem 0;
    .section_wrapper {
      flex-direction: column;
      justify-content: space-between;

      img {
        width: 300px;
      }

      .section_text {
        width: 250px;
      }

      .text-1 {
        margin: 2rem 0 0 0rem;
      }
      .text-2 {
        margin: 0 0rem 1rem -3rem;
      }
    }
  }

  .outTeam_wrapper {
    .box {
      padding: 1rem 0rem;

      .about_person {
        width: 250px;
        p {
          width: 250px;
          color: #707070;
          line-height: 1.3;
        }
      }
    }

    img {
      width: 250px;
      height: 300px;
    }

    & > div {
      padding: 0 4rem;

      gap: 50px;
      flex-wrap: wrap;
    }
  }
}
