// classess

.container {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlights_text {
  color: #41c131;
}

.section_heading {
  text-align: center;
  font-size: 1.4rem;

  h1 {
    font-weight: 900;
  }
}
